<div class="container">
    <div class="row">
        <!-- Boxes de Acoes -->
        <div class="col-xs-12 col-sm-4 col-lg-2">

        </div>

        <div class="col-xs-12 col-sm-10 col-lg-8">
            <div class="box">
                <div class="icon">
                    <div class="image"><i class="fa fa-desktop"></i></div>
                    <div class="info">
                        <h3 class="title">Ricardo Galeana, Ramón Isijara, Juan Zambada</h3>
                        <p>
                            <b>Maestría en Ciencias de la Computación</b>
                            <br>
                            <b>Tópicos Selectos</b>

                            <p>
                                <b>Sistema Tutor Inteligente</b>
                            </p>
                        </p>
                        <div class="more">
                            <a href="#/home" title="Title Link" class="">
                                Inteligencia Artificial Aplicada a la Educación <i class=""></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="space"></div>
            </div>
        </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-lg-2">

        </div>
        <!-- /Boxes de Acoes -->
    </div>



</div>