<div class="container">
    <div class="row">
        <video id="video" width="640" height="480" autoplay></video>
        <button id="snap">Captura</button>
        <canvas id="canvas" width="640" height="480"></canvas>
    </div>








</div>