<div class="col-xs-2 full-height right-border" ng-controller="navigationController">
    <ul id="" class="nav nav-pills nav-stacked navigationMenu">
        <li ng-click="updateSelection($event)" ng-class="home"><a href="#">Inicio</a></li>
        <li ng-click="updateSelection($event)" ng-class="tutor"><a href="#/tutor">Tutor</a></li>
        <li ng-click="updateSelection($event)" ng-class="prestamos"> <a  href="#/about">Acerca de</a></li>
        <li ng-click="updateSelection($event)" ng-class="juan"> <a  href="#/juan">Juan</a></li>

    </ul>
</div>