<div class="container">

    <div class="row col-xs-10">
        <div class="btn-group">
            <input type="button" class="btn btn-default" value="Ejercicio 1">
            <input type="button" class="btn btn-default disabled" value="Ejercicio 2">
            <input type="button" class="btn btn-default disabled" value="Ejercicio 3">
            <input type="button" class="btn btn-default disabled" value="Ejercicio 4">
            <input type="button" class="btn btn-default disabled" value="Ejercicio 5">
            <input type="button" class="btn btn-default disabled" value="Ejercicio 6">
        </div>

    </div>

    <div class="row col-xs-2">

       <input type="button" value="Ayuda" ng-click="tablasAyuda()" class="btn btn-warning pull-right">

    </div>
    <br> <br> <br>

    <!--EJERCICIO NÚMERO UNO -->
    <div class="row col-xs-12">

        <div class="form-horizontal col-xs-8" >

            <div class="form-group" ng-repeat='tabla in tablas'>
                <label class="col-md-1 control-label" for="name">{{$index+1}}.</label>

                <div class="col-md-3">
                    <label id="name" name="name"  class="form-control">{{tabla.labelTabla}}</label>
                </div>

                <div class="col-md-1"><center>=</center></div>
                <div class="col-md-4">
                    <input id="name" name="name" type="text" placeholder="Resultado" class="form-control">
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <input type="button" value="Siguiente" class="btn btn-primary pull-right">
        </div>

    </div>


    <!--FIN EJERCICIO NÚMERO UNO -->

</div>